#metar-taf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#metar-taf .bloc:not(:last-child) {
    margin-right: 1vw;
}

#metar-taf .bloc {
    background-color: rgba(170, 170, 170, 0.8);
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 40%;
    max-width: 40%;
    min-height: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

#metar-taf .bloc .title {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    width: 100%;
}

#metar-taf .bloc .data {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    overflow-wrap: anywhere;
    max-height: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

#metar-taf .data:not(:last-child) {
    border-bottom: 1px grey solid;
    padding-bottom: 0.5rem;
}

#metar-taf .data:not(:first-child) {
    padding-top: 0.5rem;
}